*{
    margin: 0;
}

::-webkit-scrollbar {
    width: 0;
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
            
}

body{
    background-color: rgb(11, 11, 11);
}

.main_bg {
    width: 100%;
    opacity: 0.5;
    position: fixed;
}

nav {
    cursor: pointer;
    max-width: 1300px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.nav_but{
    position: relative;
    width: 114.81px;
    height: 47.53px;
    background: none;
    border: 3px solid #fff;
    color: #fff;
    font-size: 11.362px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s linear;
}

.nav_but:hover{
    background-color: #fff;
    color: rgb(11, 11, 11);
}
  
.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
    font-weight: bolder;
}
  
.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #23b5ce;
    transition: all 0.3s ease;
}
  
.link a:hover::after {
    width: 75%;
    cursor: pointer;

}

.text-info{
    position: relative;
    color: #fff;
}